@model WebApplication1.Models.exames

@{
    ViewData["Title"] = "Cadastro";
}

<h1>Agendar novo Exame</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExameName" class="control-label"></label>
                <input asp-for="ExameName" class="form-control" />
                <span asp-validation-for="ExameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeMedico" class="control-label"></label>
                <input asp-for="NomeMedico" class="form-control" />
                <span asp-validation-for="NomeMedico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomePaciente" class="control-label"></label>
                <input asp-for="NomePaciente" class="form-control" />
                <span asp-validation-for="NomePaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" /> |
                <a class="btn btn-primary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
