@model WebApplication1.Models.exames

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExameID" />
            <div class="form-group">
                <label asp-for="ExameName" class="control-label"></label>
                <input asp-for="ExameName" class="form-control" />
                <span asp-validation-for="ExameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeMedico" class="control-label"></label>
                <input asp-for="NomeMedico" class="form-control" />
                <span asp-validation-for="NomeMedico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomePaciente" class="control-label"></label>
                <input asp-for="NomePaciente" class="form-control" />
                <span asp-validation-for="NomePaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <input type="submit" value="Voltar" class="btn btn-primary" asp-action="Index" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
